body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

/* ---- header ----- */
header{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

header #logo{
    height: 80%;
    border: 1px solid white;
    margin-left: 10px;
}

/* ----- Main ----- */
main{
    width: 70%;
    height: 92%;
    background-color: #005757;

    
}

/* ---- search-section ----- */
main #search-section{
    background-color: rgb(21, 151, 108);
    padding: 20px 30px;
}

#search-section #input-wrapper{
    margin-bottom: 10px;
}

#search-section #input-wrapper #input-value{
    height: 40px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

#search-section #input-wrapper #search-button{
    font-size: 1.5rem;
    height: 45px;
    border-radius: 5px;
    border: none;
}

#search-section #search-result{
    height: 350px;
    background-color: rgb(71, 216, 168);
    border-radius: 15px;
    display: none;
}

#search-result #superhero-img-container {
    width: 40%;
    height: 100%;
    background-color: aquamarine;
    border-radius: 15px;
}

#search-result #superhero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#search-result #info{
    width: 60%;
    height: 100%;
}

/* ---- aside ---- */
aside{
    width: 30%;
    height: 92%;
    background-color: blueviolet;
    
}