body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
}

/* ---- header ----- */
header{
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

header #logo{
    height: 80%;
    border: 1px solid white;
    margin-left: 10px;
}

/* ----- Main ----- */
main{
    width: 70%;
    height: 90vh;
    background-color: #005757;

    
}

/* ---- search-section ----- */
main #search-section{
    background-color: rgb(21, 151, 108);
    /* padding: 20px 30px; */
    height: 10%;
    display: flex;
    align-items: center;
}

#search-section #input-wrapper{
    margin-left: 10px;
}

#search-section #input-wrapper #input-value{
    height: 40px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

#search-section #input-wrapper #search-button{
    font-size: 1.5rem;
    height: 45px;
    border-radius: 5px;
    border: none;
}

/* auto search result */
#auto-results-container{
    position: absolute;
    left: 15px;
    width: 30vw;
    max-height: 50vh;
    overflow: scroll;
    background-color: grey;
    display: none;
    /* z-index: 1; */
}

#auto-results-container .auto-result{
    width: 100%;
    height: 60px;
    background-color: lightgray;
    display: flex;
}

#auto-results-container .character-img-container{
    width: 60px;
    height: 60px;
    background-color: white;
}

#auto-results-container .character-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*---- search result -----*/
#search-result{
    height: 350px;
    width: 95%;
    background-color: rgb(71, 216, 168);
    /* border-radius: 15px; */
    display: none;
    margin-bottom: 20px;
}

#search-result #superhero-img-container {
    width: 40%;
    height: 100%;
    background-color: aquamarine;
    /* border-radius: 15px; */
}

#search-result #superhero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}

#search-result #info{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#info #options{
    height: 10%;
}

#info #description-container{
    /* display: none; */
    height: 80%;
}

#info #comics-container{
    display: none;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    background-color: rgb(0, 153, 255);
    justify-content: space-around;
    overflow: scroll;
}

#comics-container::-webkit-scrollbar{
    display: none;
}

.comic{
    width: 150px;
    height: 200px;
    background-color: grey;
    margin: 15px;
}

.comic .img-container{
    width: 100%;
    height: 150px;
    background-color: lightgray;
}

.comic .img-container img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
/* ---- gallery section ---- */

#gallery-section{
    height: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
    overflow: scroll;
}

#gallery-section::-webkit-scrollbar{
    display: none;
}
/* .suprehero-container{
    width: 300px;
    height: 400px;
} */

.superhero-Thumbnail{
    width: 300px;
    height: 310px;
}

/* ---- aside ---- */
aside{
    width: 30%;
    height: 90vh;
    background-color: blueviolet;
    
}

aside #asid-header{
    height: 10%;
    font-size: 2rem;

}

aside #favorite-container{
    width: 100%;
    height: 90%;
    overflow: scroll;
}

aside .favorite{
    display: flex;
    width: 80%;
    background-color: rgb(101, 207, 172);
    justify-content: space-between;
    margin: auto;
}

.favorite .fav-img-container{
    width: 100px;
    height: 100px;
}

.fav-img-container .fav-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite .fav-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    width: 60%;
}
