body{
    margin: 0;
}

header{
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
}

header #logo{
    height: 80%;
    border: 1px solid white;
    margin-left: 10px;
}